<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ricerca Quadro</title>
    <link  rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <form action="#" th:action="@{/adminRicercaAutore}" th:object="${autore}" method="post">
            <div>
                <div>
                    <span th:text="#{label.nome}">Nome: </span>
                    <span><input type="text" th:field="*{nome}" /></span>
                    <span th:if="${#fields.hasErrors('nome')}" th:text="#{label.obbligatorio}">Error</span>
                </div>
                <div>
                    <span><button type="submit">Cerca</button></span>
                </div>
            </div>
        </form>
    </body>
</html>