<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ricerca Quadro</title>
    <link  rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <form action="#" th:action="@{/modificaQuadro}" th:object="${quadro}" method="post">
            <div>
                <div>
                    <span th:text="#{label.titolo}">Titolo: </span>
                    <span><input type="text" th:field="*{titolo}" /></span>
                    <span th:if="${#fields.hasErrors('titolo')}" th:text="#{label.obbligatoio}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.anno}">Anno: </span>
                    <span><input type="text" th:field="*{anno}" /></span>
                    <span th:if="${#fields.hasErrors('anno')}" th:text="#{label.obbligatoio}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.tecnica}">Tecnica: </span>
                    <span><input type="text" th:field="*{tecnica}" /></span>
                    <span th:if="${#fields.hasErrors('tecnica')}" th:text="#{label.obbligatoio}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.autore}">Autore: </span>
                    <span><input type="text" th:field="*{autore}" /></span>
                    <span th:if="${#fields.hasErrors('autore')}" th:text="#{label.obbligatoio}">Error</span>
                </div>
                <div>
                    <span><button type="submit">Modifica quadro</button></span>
                </div>
            </div>
        </form>
    </body>
</html>